body {
  background-color: $backgroundColor;
  line-height:1.4;
}

.info {
  overflow:hidden;
  text-align:center;
  curser:default;
}

.info .overlay {
  width:400px;
  height:300px;
  position:absolute;
  overflow:hidden;
  top:0px;
  left:0px;
}

.info h2 {
  color:$h2font;
  text-align:center;
  position:relative;
  font-size:30px;
  font-family:$headerFont;
  padding:10px;
  margin:20px 0 0 0;
}

.info p {
  font-family:$pFont;
  font-size:25px;
  position:relative;
  color:$icon;
  padding: 10px 20px 0px;
  text-align:center;
}

.info-person img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
}

.info-person .overlay {
  background-color: $hover;
  transition: all 0.5s linear;
  opacity: 0;
}

.info-person h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background:transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color:$h2font;
  transition: all 0.5s linear;
  opacity: 0;
}

.info-person p {
  color:$icon;
  opacity:0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.info-person:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity:0;
}

.info-person:hover .overlay {
  opacity: 1;
}

.info-person:hover h2,
.info-person p {
  transform: scale(1);
  opacity:1;
}

.icons a {
  text-decoration:none;
  colour:$icon;
}

.icons a:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  colour:$headerFont;
}
