body {
  background-color: $backgroundColor;
  line-height:1.4;
}

.icon {
  position:relative;
  font-size: 40px;
  color:$h2font;
  top:20px;
}

.headerView {
  position:relative;
  font-size:30px;
  color:$h2font;
  top:20px;
  left:8px;
  font-family:$headerFont;
}

tr {
  margin-top:10px;
}

thead {
  background-color:$h2font;
}

th {
  color:$hover;
  font-family:$pFont;
  text-align:center;
}

tbody{
  background-color: rgba(253, 228, 242, 0.2);
}

td {
  text-align:center;
  font-family:$pFont;
  color:$h2font;
}

.month {
  text-align:center;
  position:relative;
}

.day {
  text-align:center;
  font-size:25px;
  position:relative;
  top:-20px;
  font-weight:bold;
}

button {
  background-color:$hover;
  text-decoration:none;
  font-family:$pFont;
  font-size:15px;
  border: 1px solid $border;
  padding:5px;
  width:80px;
  @include transition(color .7s ease);
  &:hover {
    background-color:$h2font;
    color:$hover;
    font-size:15px;
  }
}

.open {
  color:$openings;
}

.pending {
  color:$pending;
}

.decline {
  color:$decline;
}
