@import url('https://fonts.googleapis.com/css?family=Aleo|Montserrat');

$backgroundColor: #eaced6;
$hover: #ef5da3;
$h2font: #ffffff;
$icon: #615aa0;

$headerFont: 'Aleo', serif;
$pFont: 'Montserrat', sans-serif;
