@import url('https://fonts.googleapis.com/css?family=Roboto|Sarabun');

$backgroundColor: #F7F7FA;
$hover: #ffffff;
$h2font: #1B073B;
$tableBG: #FDE4F2;
$openings: #198714;
$pending: #E3C952;
$decline: #CC292B;
$border: #C498C8;

$headerFont: 'Sarabun', sans-serif;
$pFont: 'Roboto', sans-serif;
